In [22]:
import pandas as pd
from sqlite3.dbapi2 import Cursor
import sqlite3 as sql
import csv

from google.colab import drive
drive.mount('/content/drive')

df = pd.read_excel("/content/drive/MyDrive/Almacenamiento de datos/Datos_Cultivo.xlsx", header = 0)
df1 = pd.DataFrame(df)
df1.to_csv('datos_cultivo.csv', sep=',', index=False, encoding='utf-8')

#Creamos la base de datps
def createDB():
  conn = sql.connect('Cultivo.db')
  conn.commit()
  conn.close()

createDB()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
#creamos la tabla

def tableDB():
  conn = sql.connect("Cultivo.db")
  cursor = conn.cursor()
  cursor.execute('''CREATE TABLE datos_cultivo(
    Semilla INT,
    Tratamiento TEXT,
    Germinacion INT,
    Materia_Fresca_Raiz FLOAT,
    Materia_Fresca_Tallo FLOAT,
    Materia_Seca_Raiz FLOAT,
    Materia_Seca_Tallo FLOAT,
    Peso_Dia3 FLOAT,
    Altura_Dia1 FLOAT,
    Diametro_Dia1 FLOAT,
    Peso_Dia2 FLOAT,
    Altura_Dia2 FLOAT,
    Diametro_Dia2 FLOAT,
    Peso_Dia1 FLOAT,
    Altura_Dia3 FLOAT,
    Diametro_Dia3 FLOAT
  );''')

  file = open('datos_cultivo.csv')
  contents = csv.reader(file)
  insert_records = "INSERT INTO datos_cultivo (Semilla, Tratamiento, Germinacion, Materia_Fresca_Raiz, Materia_Fresca_Tallo, Materia_Seca_Raiz, Materia_Seca_Tallo, Peso_Dia3, Altura_Dia1, Diametro_Dia1, Peso_Dia2, Altura_Dia2, Diametro_Dia2, Peso_Dia1, Altura_Dia3, Diametro_Dia3) VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)"
  cursor.executemany(insert_records, contents)

  conn.commit() #Haga el cambio que se esta haciendo
  conn.close()
  print("Cree la tabla")

tableDB()

Cree la tabla

In [ ]:
#Leer la tabla
conn = sql.connect("Cultivo.db")
cursor = conn.cursor()
query = "SELECT * FROM datos_cultivo;"
datospimenton = cursor.execute(query).fetchall()
for r in datospimenton:
    print(r)
conn.commit()
conn.close()

In [25]:
#Actualuzar la tabla
conn = sql.connect("Cultivo.db")
cursor = conn.cursor()
query = "UPDATE datos_cultivo SET Germinacion = 'sacrificada' WHERE Materia_Fresca_Raiz > 0;"
datospimenton = cursor.execute(query)
conn.commit()
conn.close()

In [26]:
#Leer la tabla
conn = sql.connect("Cultivo.db")
cursor = conn.cursor()
query = "SELECT Semilla, Tratamiento, Germinacion FROM datos_cultivo;"
df3 = pd.read_sql(query, conn)
df3.to_csv('Datos_Cultivo3.csv', index = False)
conn.commit()
conn.close()

In [27]:
#Borrar los datos
conn = sql.connect("Cultivo.db")
cursor = conn.cursor()
query = "DELETE FROM datos_cultivo WHERE Peso_Dia3 = 0;"
datospimenton = cursor.execute(query)
conn.commit()
conn.close()

In [28]:
#Leer la tabla
conn = sql.connect("Cultivo.db")
cursor = conn.cursor()
query = "SELECT Semilla, Tratamiento, Peso_Dia3, Peso_Dia2, Peso_Dia1 FROM datos_cultivo;"
df2 = pd.read_sql(query, conn)
df2.to_csv('Datos_Cultivo2.csv', index = False)
conn.commit()
conn.close()